/*
 * @Author: 虾哔哔
 * @Date: 2018-06-08 19:25:31
 * @Last Modified by: 虾哔哔
 * @Last Modified time: 2018-06-09 00:24:52
 */

@import './_color.less';
@import './_highlight.less';
body {
  margin: 0;
  letter-spacing: 0;
  font-size: 15px;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%
}

// a[disabled] {
//   opacity: .6;
//   cursor: not-allowed;
// }
// kbd {
//   display: inline-block;
//   margin-bottom: 3px;
//   padding: 3px 5px;
//   border: 1px solid @font-color-light;
//   border-radius: 3px;
//   vertical-align: middle;
//   font-size: 12px !important;
//   line-height: 12px;
// }
// .task-list-item {
//   list-style-type: none
// }
// li input[type=checkbox] {
//   margin: 0 .2em .25em -1.6em;
//   vertical-align: middle
// }
// .markdown-preview>* {
//   box-sizing: border-box;
//   font-size: inherit
// }
// .markdown-preview>:first-child {
//   margin-top: 0 !important
// }
// .markdown-preview hr {
//   margin: 2em 0;
//   border: none;
//   border-bottom: 1px solid @hr-color;
// }
// .markdown-preview table {
//   display: block;
//   overflow: auto;
//   margin-bottom: 16px;
//   margin-bottom: 1rem;
//   width: 100%;
//   border-spacing: 0;
//   border-collapse: collapse;
// }
// .markdown-preview th {
//   font-weight: 700
// }
// .markdown-preview td,
// .markdown-preview th {
//   padding: 6px 13px;
//   border: 1px solid #ddd;
// }
// .markdown-preview tr {
//   border-top: 1px solid @font-color-light
// }
// .markdown-preview p.tip,
// .markdown-preview tr:nth-child(2n) {
//   background-color: @bg-color-light
// }
// .markdown-preview p.tip {
//   position: relative;
//   margin: 2em 0;
//   padding: 12px 24px 12px 30px;
//   border-left: 4px solid @danger;
//   border-top-right-radius: 2px;
//   border-bottom-right-radius: 2px;
// }
// .markdown-preview p code {
//   margin: 0 2px;
//   padding: 3px 5px;
//   border-radius: 2px;
//   background-color: @bg-color-light;
//   color: @warning;
//   white-space: inherit;
//   font-size: 0.8em;
//   font-family: 'Roboto Mono', Monaco, courier, monospace;
// }
// .markdown-preview p.tip em {
//   color: #34495e
// }
// .markdown-preview p.tip:before {
//   position: absolute;
//   top: 14px;
//   left: -12px;
//   width: 20px;
//   height: 20px;
//   border-radius: 100%;
//   background-color: @danger;
//   color: #fff;
//   content: "!";
//   text-align: center;
//   font-weight: 700;
//   font-size: 14px;
//   font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
//   line-height: 20px;
// }
// .markdown-preview p.warn {
//   padding: 16px;
//   padding: 1rem;
//   border-radius: 2px;
//   background: rgba(66, 185, 131, 0.1);
// }
// .markdown-preview h1,
// .markdown-preview h2,
// .markdown-preview h3,
// .markdown-preview h4,
// .markdown-preview strong {
//   color: @font-color-dark;
//   font-weight: 600
// }
// .markdown-preview a {
//   color: @success;
//   font-weight: 600
// }
// .md-sidebar-toc a {
//   color: @success;
//   font-weight: 600
// }
// .markdown-preview h1 {
//   margin: 0 0 16px;
//   margin: 0 0 1rem;
//   font-size: 32px;
//   font-size: 2rem;
// }
// .markdown-preview h2 {
//   margin: 45px 0 12.8px;
//   margin: 45px 0 .8rem;
//   font-size: 28px;
//   font-size: 1.75rem;
// }
// .markdown-preview h3 {
//   margin: 40px 0 9.6px;
//   margin: 40px 0 .6rem;
//   font-size: 24px;
//   font-size: 1.5rem;
// }
// .markdown-preview h4 {
//   font-size: 20px;
//   font-size: 1.25rem
// }
// .markdown-preview h5,
// .markdown-preview h6 {
//   font-size: 16px;
//   font-size: 1rem
// }
// .markdown-preview h6 {
//   color: #777
// }
// .markdown-preview figure,
// .markdown-preview p {
//   margin: 1.2em 0
// }
// .markdown-preview ol,
// .markdown-preview p,
// .markdown-preview ul {
//   word-spacing: .8px;
//   word-spacing: .05rem;
//   line-height: 25.6px;
//   line-height: 1.6rem;
// }
// .markdown-preview ol,
// .markdown-preview ul {
//   padding-left: 24px;
//   padding-left: 1.5rem
// }
// .markdown-preview blockquote {
//   margin: 2em 0;
//   padding-left: 20px;
//   border-left: 4px solid @success;
//   color: #858585;
// }
// .markdown-preview blockquote p {
//   margin-left: 0;
//   font-weight: 600;
// }
// .markdown-preview iframe {
//   margin: 1em 0
// }
// .markdown-preview em {
//   color: #7f8c8d
// }
.content h1,
.content .h1 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content h2,
.content .h2 {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #383838;
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1rem;
}

.content h3 {
  color: #383838;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9rem;
}

.content h4,
.content h5,
.content h6 {
  display: inline;
  border-bottom: 1px dashed #8c8c8c;
  color: #8c8c8c;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.9rem;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}

.content hr {
  border: 1px dashed #8c8c8c;
}

.content strong {
  font-weight: bold;
}

.content em,
.content cite {
  font-style: italic;
}

.content sup,
.content sub {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

.content sup {
  top: -0.5em;
}

.content sub {
  bottom: -0.2em;
}

.content small {
  font-size: 0.85em;
}

.content acronym,
.content abbr {
  border-bottom: 1px dotted;
}

.content ul,
.content ol,
.content dl {
  line-height: 1.725;
}

.content ul ul,
.content ol ul,
.content ul ol,
.content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.content ol {
  list-style: decimal;
}

.content dt {
  font-weight: bold;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
}

.content th {
  padding: 8px; // border-bottom: 1px dashed $color-code-border;
  color: #383838;
  font-weight: bold;
  font-size: 13px;
}

.content td {
  padding: 9px 8px 0;
  border-bottom: none;
}

.content .more {
  position: relative;
  display: block;
  color: #2bbc8a;
  text-transform: none;
  letter-spacing: normal;
}

.content .more a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.content .more a:hover {
  background: none;
  text-decoration: underline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #383838;
  font-weight: 400;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  line-height: 1.725;

  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content {
  flex: 1;
}

.content p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -ms-hyphens: auto;
}

.content code {
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #e96900;
  white-space: inherit;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
  font-size: 0.8em;
  font-family: 'Roboto Mono', Monaco, courier, monospace;

  -ms-hyphens: manual;
}

.content a {
  background-image: linear-gradient(transparent, transparent 5px, #383838 5px, #383838);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  color: #383838;
  text-decoration: none;
}

.content a:hover {
  background-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa);
}

.content a.icon {
  background: none;
}

.content a.icon:hover {
  color: #d480aa;
}

.content h1 a,
.content .h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.content h1 a:hover,
.content .h1 a:hover,
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content h5 a:hover,
.content h6 a:hover {
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.content h6 a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.content h6 a:hover {
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.content blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
  background: inherit;
  color: #2bbc8a;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-weight: bold;
}

.content blockquote p {
  margin: 0;
}

.content blockquote:before {
  margin-right: 0.25em;
  color: #2bbc8a;
  content: "\201C";
  vertical-align: -0.4em;
  font-size: 2em;
  line-height: 0.1em;
}
