/*
 * @Author: 虾哔哔
 * @Date: 2018-06-08 19:25:31
 * @Last Modified by: 虾哔哔
 * @Last Modified time: 2018-06-11 14:49:43
 */

@import './_color.less';
@import './_highlight.less';
html {
  height: 100%;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #383838;
  font-weight: 400;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  line-height: 1.725;

  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%
}

kbd {
  display: inline-block;
  margin-bottom: 3px;
  padding: 3px 5px;
  border: 1px solid @font-color-light;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 12px !important;
  line-height: 12px;
}

.markdown-preview h1,
.markdown-preview .h1 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.markdown-preview h2,
.markdown-preview .h2 {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #383838;
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1rem;
}

.markdown-preview h3 {
  color: #383838;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9rem;
}

.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  display: inline;
  border-bottom: 1px dashed #8c8c8c;
  color: #8c8c8c;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.9rem;
}

.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}

.markdown-preview hr {
  border: 1px dashed #8c8c8c;
}

.markdown-preview strong {
  font-weight: bold;
}

.markdown-preview em,
.markdown-preview cite {
  font-style: italic;
}

.markdown-preview sup,
.markdown-preview sub {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

.markdown-preview sup {
  top: -0.5em;
}

.markdown-preview sub {
  bottom: -0.2em;
}

.markdown-preview small {
  font-size: 0.85em;
}

.markdown-preview acronym,
.markdown-preview abbr {
  border-bottom: 1px dotted;
}

.markdown-preview ul,
.markdown-preview ol,
.markdown-preview dl {
  line-height: 1.725;
}

.markdown-preview ul ul,
.markdown-preview ol ul,
.markdown-preview ul ol,
.markdown-preview ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-preview ol {
  list-style: decimal;
}

.markdown-preview dt {
  font-weight: bold;
}

.markdown-preview table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  tr {
    border-top: 1px solid #c6cbd1;
    background-color: #fff;
    &:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  th {
    font-weight: 600;
  }
}

.markdown-preview th {
  padding: 8px; // border-bottom: 1px dashed $color-code-border;
  color: #383838;
  font-weight: bold;
  font-size: 13px;
}

.markdown-preview td {
  padding: 9px 8px 0;
  border-bottom: none;
}

.markdown-preview .more {
  position: relative;
  display: block;
  color: #2bbc8a;
  text-transform: none;
  letter-spacing: normal;
}

.markdown-preview .more a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.markdown-preview .more a:hover {
  background: none;
  text-decoration: underline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.markdown-preview p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -ms-hyphens: auto;
}

.markdown-preview p code {
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #e96900;
  white-space: inherit;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
  font-size: 0.8em;
  font-family: 'Roboto Mono', Monaco, courier, monospace;

  -ms-hyphens: manual;
}

.markdown-preview a {
  background-image: linear-gradient(transparent, transparent 5px, #383838 5px, #383838);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  color: #383838;
  text-decoration: none;
}

.markdown-preview a:hover {
  background-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa);
}

.markdown-preview a.icon {
  background: none;
}

.markdown-preview a.icon:hover {
  color: #d480aa;
}

.markdown-preview h1 a,
.markdown-preview .h1 a,
.markdown-preview h2 a,
.markdown-preview h3 a,
.markdown-preview h4 a,
.markdown-preview h5 a,
.markdown-preview h6 a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.markdown-preview h1 a:hover,
.markdown-preview .h1 a:hover,
.markdown-preview h2 a:hover,
.markdown-preview h3 a:hover,
.markdown-preview h4 a:hover,
.markdown-preview h5 a:hover,
.markdown-preview h6 a:hover {
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.markdown-preview h6 a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.markdown-preview h6 a:hover {
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.markdown-preview blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
  background: inherit;
  color: #2bbc8a;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-weight: bold;
}

.markdown-preview blockquote p {
  margin: 0;
}

.markdown-preview blockquote:before {
  margin-right: 0.25em;
  color: #2bbc8a;
  content: "\201C";
  vertical-align: -0.4em;
  font-size: 2em;
  line-height: 0.1em;
}
